.part{
    background: linear-gradient(#0A1628 , #1E3A8A);
    height: 90vh;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 1em;
}

.home{
    margin:0;
    padding: 0;
}

.titulo{
    font-size: 2em;
}

.button{
    background: #FABA3E;
    padding: 1em 3em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin-top: 5em;
}

.claro{
    background: white;
    height: 100%;
    width: 100%;
    color: black;
    text-align: left;
    font-size: 1rem;
}

.top{
    margin-top:2em;
    display: flex;
    justify-content: space-around;
    gap:30%;
    align-items: center;
    width: 100%;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.card{
    background: #12245D;
    height: 12em;
    width: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card h1{
    font-size: 1.3em;
    color: #FABA3E;
}

.card p{
    font-size: 1em;
    color: #B8B3B3;
    width: 30%;
}

img{
    height: 30em;
    border-radius: 10px;
}

.title_dark{
    color: #12245D;
}

.title_accent{
    color: #FABA3E;
}

.content{
    margin:20px;
}